.Section-background {
    height: 250px;
    margin: 0px !important;
    padding: 0px !important
  }
  
h2{
    text-align: center;
    margin-top: 8%;
    color: #585859;
}

p{
    font-size: 14px;
    text-align: center;
    margin: 0 50px 0 50px;
}